

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   #main {
   	    padding: 0 70px 40px 70px;
   }

   .h-logo {
    width: 30%;
}

.ftext{
	 width:200px;
	
}














